.ulList
{
    background-color: aqua;
    border:2px solid rgb(243, 40, 57);
    
}
.ulList
{
    background-color:burlywood;
    padding: 5px;
    margin: 6px;
    margin-top: 10px;
    list-style-type: none;
}